<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="@{/formReclamo}" method="post"
		enctype="multipart/form-data">
		<table>
			<tr>
				<td>ID Reclamo</td>
				<td><input type="text" name="idReclamo" /></td>
			</tr>
			<tr>
				<td>Imagen</td>
				<td><input type="file" name="imagen" /></td>
			</tr>
			<tr>
				<td><input type="submit" value="Agregar Foto" /></td>
			</tr>
		</table>
	</form>
</body>
</html>